<div class="layout-wrapper" [ngClass]="{'layout-overlay':isOverlay(),
                                'layout-static':isStatic(),
                                'layout-theme-light':!config.dark,
                                'layout-theme-dark':config.dark,
                                'layout-overlay-sidebar-active': overlayMenuActive,
                                'layout-static-sidebar-inactive': staticMenuInactive,
                                'layout-mobile-sidebar-active':menuActiveMobile,
                                'p-ripple-disabled': !config.ripple, 'p-input-filled': config.inputStyle === 'filled'}">
    <app-topbar></app-topbar>
    <div class="layout-sidebar">
        <!-- ORGANISMO Y SECTOR DEL USUARIO -->
        <button pButton pRipple type="button" label="buscar Sector" class="p-button-outlined mr-2 mb-2" (click)="openDialogSector()"></button>
        <h6>
            <b>{{sector.organismo?.organismo}}</b>
            <br> {{sector.sector}}
        </h6>

        <app-menu></app-menu>
    </div>
    <div class="layout-main-container">
        <div class="layout-main">
            <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
    </div>
    <app-config></app-config>
    <div *ngIf="menuActiveMobile" class="layout-mask p-component-overlay"></div>


    <!-- DIALOG FORMULARIO SALIDA TRAMITE -->
    <p-dialog id="formSectorDialog" [(visible)]="sectorDialog" [style]="{width: '450px'}" header="Elegir Sector" [closable]="false" [modal]="false" class="p-fluid">
        <ng-template pTemplate="content">
            <!-- FORMULARIO SALIDA TRAMITE -->
            <form [formGroup]="formaSector">

                <div class="field">
                    <label for="organismo_id">Organismo</label>
                    <p-dropdown id="organismo_id" [options]="listOrganismos" optionLabel="organismo" optionValue="id_organismo" formControlName="organismo_id" (onChange)="onChangeOrganismos()" placeholder="Seleccionar...">

                    </p-dropdown>
                </div>
                <div class="field">
                    <label for="sector_id">Sector destino</label>
                    <p-dropdown id="sector_id" [options]="listSectores" optionLabel="sector" optionValue="id_sector" formControlName="sector_id" placeholder="Seleccionar...">

                    </p-dropdown>
                </div>


            </form>
            <!--  FIN FORMULARIO SALIDA TRAMITE -->
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple type="button" label="Cancelar" class="p-button-outlined mr-2 mb-2" (click)="hideDialogSector()"></button>
            <button pButton pRipple type="button" label="Guardar" class="p-button-outlined mr-2 mb-2" (click)="guardarSector()"></button>
        </ng-template>
    </p-dialog>
    <!-- FIN DIALOG FORMULARIO SALIDA TRAMITE -->
</div>